<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <p>Welcome to O-doctor </p>
  </div>

  <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
    <mat-tab label="About Us">
      <p>Now a days many of them are facing different types of medical problems. Most of the people don’t know who is the one of the best doctor for
        their problems and they don’t have direct contact with doctor to consult about their health problems. My doctor is a web based application, in this the
        admin allows registration and login for both doctor and patient. Doctors can register by giving his\her necessary details like timings , category , etc. After
        successful registration, the doctor can log in by giving their username and password. The doctor can see the patient request and sends the notification to
        the patients if the appointment is available . He can also view the comments given by the patient. The patient must be login and registered then he can
        select the doctor by choosing his location and the problem faced by the patient. Then it shows the results list of doctors matching patients for their
        problem and he can select the doctor according to his choice then it will be forwarded to online controller and the controller sends notification to doctor
        then the doctor accept the request to the controller and the controller sends notification to the patient for their booking time then it says the booking is
        Confirmed.
        </p>
    </mat-tab>
    <mat-tab label="Our Doctors">
       <p>Not implement yet!!!!!</p>
      </mat-tab>
    <mat-tab label="Features">
       <p>Not implement yet!!!!! </p>
      </mat-tab>
  </mat-tab-group>
</section>
